@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 Margin and rounding are personal preferences,
 overflow-x-auto is recommended.
*/
pre {
    @apply mb-2 rounded overflow-x-auto;
}

pre code.torchlight {
    @apply -mb-3;
}

/*
 Add some vertical padding and expand the width
 to fill its container. The horizontal padding
 comes at the line level so that background
 colors extend edge to edge.
*/
pre code.torchlight {
    @apply block rounded py-4 min-w-max;
}

/*
 Horizontal line padding.
*/
pre code.torchlight .line {
    @apply px-4;
}

/*
 Push the code away from the line numbers and
 summary caret indicators.
*/
pre code.torchlight .line-number,
pre code.torchlight .summary-caret {
    @apply mr-4;
}

[x-cloak] { display: none !important; }

/* width */
::-webkit-scrollbar {
    height: 5px;
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e2e8f0;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
}
